{% extends 'IphpCoreBundle::page-with-header.html.twig' %}





{% block page_header %}
{% if content %}
<div class="page-header">
    <h1>{{ content }}
        <small>{{ content.abstract}}</small>
    </h1>
</div>
{% else %}
{{ parent() }}
{% endif%}
{% endblock page_header %}





{% block page_body %}
{% if content %}


{% block content_image %}
{% if content.image%}
{% endif %}
{% endblock %}


{% block content_content %}
{{ content.content|raw}}
{% endblock content_content %}


{% if content.publishedImages| length %}
{% block content_images  %}


    {% for image in content.publishedImages  if image.file %}
    {% block content_img %}
    <a href="{{ image.file.path}}" target="_blank"><img src="{{ image.file.path}}" class="img-polaroid"></a>
    {% endblock content_img %}
    {% endfor %}

{% endblock content_images %}
{% endif %}







{% if content.links| length %}
{% block content_links %}
<h3>Ссылки</h3>

<ul>
    {% for link in content.links %}
    {% block content_link %}
    <li><a target="_blank" href="{{ link.url }}">{{ link.title}}</a></li>
    {% endblock content_link %}
    {% endfor %}
</ul>
{% endblock content_links %}
{% endif %}




{% if content.publishedFiles| length %}
{% block content_files %}
 <h3>Файлы</h3>

 <ul>
     {% for file in content.publishedFiles %}
     {% block content_file %}
     <li><a target="_blank" href="{{ file.file.path }}">{{ file }}</a></li>
     {% endblock content_file %}
     {% endfor %}
 </ul>
{% endblock content_files %}
{% endif %}


{% endif %}
{% endblock page_body %}

