{% extends '::base.html.twig' %}


{% block body %}

{% block page_header %}
<div class="page-header">
    <h1>{{ iphp.rubric }}
        <small>{{ iphp.rubric.abstract}}</small>
    </h1>
</div>
{% endblock page_header %}


{% block contents %}

{% for content in contents %}
<dl>
    <dt><a href="{{ entitypath(content) }}">{{ content }}</a></dt>
    <dd>{{ content.abstract }}</dd>
</dl>
{% endfor %}


{% block pagination %}
<div>
    {{ contents.render()|raw }}
</div>
{% endblock pagination %}

{% endblock contents %}


{% endblock body %}